.wpcui-section-list {
  max-width: 300px;
}

li.wpcui-section {
  list-style: none;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px 4px;
}

li.wpcui-section-closed {
  opacity: 0.5;
  transition: opacity 150ms ease-in-out;
}
li.wpcui-section-closed:hover {
  opacity: 0.8;
}

.wpcui-tab-pane {
}

.wpcui-tab-titles {
  display: flex;
}

.wpcui-tab-titles .tab {
  margin: 0 4px;
  padding: 4px;
  background-color: #ccc;
  cursor: pointer;
}

.wpcui-tab-content {
  margin: 10px 4px;
}
