/** ###############################################
 * VARIABLES
 *  ###############################################
 */

:root {
  --spacing: 24px;
  --animation-speed: 300ms;
  --color-blue: #0071a1;
  --color-grey: #ddd;
  --shadow-close: rgba(40, 40, 40, 0.3) 0 2px 2px;
  --shadow-far: rgba(40, 40, 40, 0.3) 0 4px 8px;
}

/** ###############################################
 * STYLES
 *  ###############################################
 */


.wpcui-section-list,
.wpcui-control-list {
  width: 300px;
  margin-right: var(--spacing);
}

.wpcui-section,
.wpcui-control {
  list-style: none;
  box-shadow: var(--shadow-close);
  transition: all var(--animation-speed) ease-in-out;
  margin-bottom: var(--spacing);
  animation: fade-in var(--animation-speed) ease-in-out;
}

.wpcui-section-title-section i.wpcui-visibility {
  transition: opacity var(--animation-speed) ease-in-out;
}

.wpcui-section-title-section i.wpcui-is-visible {
  opacity: 1;
}

.wpcui-section-title-section i.wpcui-is-not-visible {
  opacity: 0.3;
}

.wpcui-section:hover,
.wpcui-section-selected {
  box-shadow: var(--shadow-far);
}

.wpcui-section-not-selected {
  opacity: 0.5;
  transform: translateX(calc(-1 * var(--spacing)));
}

.wpcui-section-closed.wpcui-section-not-selected:hover {
  opacity: 0.8;
}

.wpcui-control-list {
  animation: fade-in var(--animation-speed) ease-in-out;
}



.wpcui-tab-content {
  margin: 10px 4px;
}


/** ###############################################
 * ANIMATIONS
 *  ###############################################
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
