.wpcui-panel {
    margin: 20px 0;
    background-color: #f9f9f9;
}

.wpcui-control-table, .wpcui-panel, .wpcui-control-form {
    border: 1px solid rgb(229, 229, 229);
}

.wpcui-panel-title {
    padding: 8px 4px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.wpcui-panel h3, .wpcui-panel h2 {
    margin: 0;
}

.wpcui-panel-body {
    padding: 8px 4px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1030px) {
    .wpcui-panel-body {
        flex-direction: column;
    }
}

.wpcui-panel[data-wpcui-collapsed="true"] .wpcui-panel-body {
    display: none;
}

.wpcui-collapsible-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-width: 200px;
}

.wpcui-panel[data-wpcui-collapsed=""] .wpcui-chevron {
    transform: rotate(180deg);
}

.wpcui-panel-title-buttons {
    display: flex;
}

.wpcui-panel-title-buttons form {
    margin-left: 10px;
}

.wpcui-control-table {
    background-color: #fff;
    flex: 1;
}

.wpcui-control-table th {
    text-align: left;
}

.wpcui-control-table td, .wpcui-control-table th {
    padding: 5px 10px;
}

.wpcui-control-form {
    margin: 0 0 5px 10px;
    background-color: #fff;
    padding: 10px;
    flex: 1;
}

@media (max-width: 1030px) {
    .wpcui-control-form {
        margin: 10px 0 5px;
    }
}

.wpcui-chevron {
    width: 20px;
    color: black;
    margin-right: 3px;
    transition: transform 250ms ease-in-out;
}

.wpcui-sample-php {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    padding: 12px 8px;
}
